<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Image Classification Algorithm</title>
</head>
<body>
 <h1 class="text-center">Indoor-Outdoor Image Classification Algorithm</h1>

  <form class="p-3 text-center" action='/' method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="imagefile" >
<br>
 <h4>Select a model:</h4>
      <select name="model" id="model">
          <option value="resnet50v1-sequence" id="resnet50v1-sequence">ResNet50V1 Sequence</option>
          <option value="resnet50v1-dropout" id="resnet50v1-dropout">ResNet50V1 Dropout</option>
          <option value="resnet50v2-sequence" id="resnet50v2-sequence">ResNet50V2 Sequence </option>
          <option value="resnet50v2-dropout" id="resnet50v2-dropout">ResNet50V2 Dropout</option>
          <option value="inception" id="inception">Inception V3</option>
    </select>
<br>
      <br>
      <input class="btn btn-primary mt-3" type="submit" value="Predict Image" >
        </form>

</body>
</html>